<div class="min-vh-100" style="position: relative; overflow: hidden">
  <div class="container-fluid">
    <header class="d-flex flex-wrap justify-content-center py-1 border-bottom shadow-sm rounded">
      <a [routerLink]="['/guest']" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <img src="assets/brand-logo.png" alt="" height="50">
      </a>
    </header>
  </div>

  <div class="container-fluid d-flex  test-class" style="position: absolute; height: 100%">
    <div class="row align-items-center justify-content-center " style="white-space: nowrap">
      <h1>Hello</h1>
    </div>
  </div>

</div>
